.navigation-bar-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: olivedrab;
}
.logo {
  width: 100%;
}
.sign-in {
  grid-column: 9/10;
  align-self: center;
}


.logo,
.sign-in{
	cursor:pointer;
}